body {
    background-image: url("https://wallpaper.dog/large/743396.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -10px;
}

#pokedextitle {
    display: inline-block;
    margin-left: 5%;
}

#pokedextitle p {
    padding: 10px;
    text-align: left;
    font-family: Ketchum, Helvetica, sans-serif;
    font-size: 70px;
    color: #ffffff;
}

#principal {
    background-color: #1f1f1f;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px 5px;
}

#pokedex {
    background-color: #1f1f1f;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px 5px;
    height: fit-content;
    text-align: center;
}

@font-face {
    font-family: Ketchum;
    src: url('Ketchum.otf');
}

#botoes {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}

input {
    margin-right: 2px;
}

#txtBusca {
    float: left;
    background-color: rgb(32, 34, 179);
    padding-left: 5px;
    padding-right: 10px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 125px;
    border-radius: 10px 10px;
}

#btnbusca {
    height: 32px;
    border-radius: 5px 5px;
    background-color: rgb(255, 255, 255);
    border-color: #e22a2a;
}

p {
    font-family: Ketchum, Helvetica, sans-serif;
    font-size: larger;
}

.topnav {
    background-color: #1f1f1f;
    overflow: hidden;
    margin-bottom: 2%;
    border-radius: 4px;
    margin-left: 5%;
    margin-right: 5%;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #e22a2a;
    color: white;
}

ul {
    list-style-type: none;
    padding: 2%;
    display: inline-block;
}

li {
    text-align: center;
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    margin: 0px;
    margin: 0px 3px 3px 3px;
    font-family: 'Courier New', Courier, monospace;
}

.card {
    display: inline-block;
    width: 250px;
    height: 290px;
}

#comboBoxHere {
    text-align: center;
    width: 300px;
    margin: 20px;
    float: right;
    background-color: rgb(204, 190, 190);
    padding: 2px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
}

#comboBoxHere select {
    border-radius: 5px;
}

#comboBoxHere button {
    border-radius: 5px;
    border-width: 1px;
    width: 70px;
    height: 25px;
    font-size: large;
}

#comboBoxHere button:hover {
    background-color: #c7afaf;
}

li img {
    width: 120px;
}

ul :hover {
    background-color: #382f2f;
    color: white;
}

.dark {
    background-color: #c161ce;
}

.steel {
    background-color: #f4f4f4;
}

.fire {
    background-color: #FDDFDF;
}

.grass {
    background-color: #DEFDE0;
}

.electric {
    background-color: #FCF7DE;
}

.water,
.ice {
    background-color: #DEF3FD;
}

.ground {
    background-color: #f4e7da;
}

.rock {
    background-color: #d5d5d4;
}

.fairy {
    background-color: #fceaff;
}

.poison {
    background-color: #c4add6;
}

.bug {
    background-color: #f8d5a3;
}

.dragon {
    background-color: #97b3e6;
}

.psychic {
    background-color: #eaeda1;
}

.flying {
    background-color: #F5F5F5;
}

.fighting {
    background-color: #E6E0D4;
}

.ghost {
    background-color: #ebc2c2;
}

.normal {
    background-color: #F5F5F5;
}